[submodule "build/packages"]
	path = build/packages
	url = http://git.mirror.nanl.de/openwrt/packages.git
[submodule "build/openwrt"]
	path = build/openwrt
	url = http://git.mirror.nanl.de/openwrt/trunk.git
